@import url();
  .logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .bg-body-primary{
    background-color: wheat;
  }

  .bg-body{
    color: wheat;
  }

.navbar-brand{
    margin-right: 2%;
}
div#navbarSupportedContent{
    align-self: right;
}
section.container-hero-sec{
    background-image: url(/fridge.jpg);
}
a.btn.btn-primary.btn-lg{
    padding: ;
}

.container.container-hero-sec{
    align-self: center;
}
