body{
    background-color: grey
    ;
}

.log-in{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
}
.sign-up{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
}

